*{  font-family: 'helvetica nue', sans-serif; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.test-site{background-color: rgba(255,255,255,1); margin: 0 auto; position: relative; width: 1532px; max-width: 100%;}

.hamburger{background-color: rgba(255,255,255,1); margin: 0 auto; position: relative; width: 1532px; height: 45px; max-width: 100%;}

.contact-forms{margin: 0 auto; position: relative; width: 1532px; max-width: 100%; height: 1020px; background-size: cover;}

.contact-forms::before {    
      content: "";
      background-image: url("contactus_image.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.4;
}

.noscroll .hamburger{height: 0; position: relative; top: -600px; left: 1450px;}

.top-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mid-animate {
    opacity: 0;
}
.bottom-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}
.top-menu {
    top: 5px;
    width: 54px;
    height: 6px;
    border-radius: 10px;
    background-color: #24a56f;
}
.mid-menu {
    top: 15px;
    width: 54px;
    height: 6px;
    border-radius: 10px;
    background-color: #24a56f;
}
.bottom-menu {
    top: 25px;
    width: 54px;
    height: 6px;
    border-radius: 10px;
    background-color: #24a56f;
}
.menui {
    /*background: #fff;*/
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
}


.icon {
    z-index: 999;
    position: relative;
    display: block;
    padding: 9px;
    height: 32px;
    width:32px;
    margin: 0px;
    top: 0;
    left: 0;
    cursor: pointer;
}

.hamburglernav {
    font-family: inherit;
    top: 0;
    left:0;
    z-index: 999;
    display: none;
    position: relative;
    max-width: 100%;
    height: 630px;
    background: rgba(13,23,58, 0.75);
    margin: 0 auto;
    width: 1532px;

}


.hamburglernav #nav ul li:first-child {
    margin-top: 0;
    text-align: center;
}

/* Resets */
.hamburglernav #nav a { 
    font-size: 177%;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    float: left;
    position: relative;
    width: 537px;
    top: -30px;}
.hamburglernav #nav a:hover { 
    text-decoration: underline;     
    font-size: 177%;
    color: #fff;
    text-align: center;
    font-weight: 300;
    display: block;
    width: 537px;
    top: -30px;}
.hamburglernav #nav ul { 
    list-style: none;
    padding: 0; }
.hamburglernav #nav ul li { text-align: center; color: #fff; float: left; padding-bottom: 1%;}
/* Top-level menu */
.hamburglernav #nav > ul > li { 
    float: left;
    position: relative; }
.hamburglernav #nav > ul > li > a { 
    padding: 10px 10px 10px 25px;
    display: block;}

/* Dropdown Menu */
.hamburglernav #nav ul li ul { 
    width: 100%; 
    padding: 0;
    display: none; }
.hamburglernav #nav ul li ul li { 
    text-align: center;
    width: 100%; 
   line-height: 1.25;}
.hamburglernav #nav ul li ul a { padding: 8px; font-size: 14px; margin-left: -12px; text-decoration: none;}
.hamburglernav #nav ul li ul a:hover { padding: 8px; font-size: 14px; margin-left: -12px; text-decoration: underline;}
.hamburglernav #nav ul li:hover ul { display: block; }

#nav{position: relative; top: 25px;}

#nav img{width: 300px; height: 113px;}

.logo{position: relative; float: left; left: 134px; top: -32px; width: 200px; height: 76px; z-index: 1;}

.logo img{border: none; width: 200px; height: 76px;}

.noscroll .logo{display: none;}

.nav-text-links{position: relative; top: -32px; left: 190px; width: 957px; max-width: 100%; z-index: 2;}

.nav-text-links ul li{position: relative; text-decoration: none; list-style-type: none; display: inline-block; font-size: 18.5pt; color: rgba(0, 0, 0, 1); margin-right: 38px;}

.nav-text-links ul li a{text-decoration: none; font-size: 18.5pt; color: rgba(0, 0, 0, 1);}

.nav-text-links ul li a:hover{text-decoration: none; font-size: 18.5pt; color: rgba(0, 0, 0, 1); border-top: 6px solid #24b56f;}

.sub-menu{position: absolute; display: none; float: left; margin-top: 0; width: 154px; text-align: center;}

.sub-menu-1{position: absolute; display: none; float: left; margin-top: 0; width: 162px; text-align: center;}

.sub-menu-2{position: absolute; display: none; float: left; margin-top: 0; width: 153px; text-align: center;}

.nav-text-links .sub-menu li a{font-size: 9pt;}

.nav-text-links .sub-menu li a:hover{font-size: 9pt;}

.nav-text-links .sub-menu-1 li a{font-size: 9pt;}

.nav-text-links .sub-menu-1 li a:hover{font-size: 9pt;}

.nav-text-links .sub-menu-2 li a{font-size: 9pt;}

.nav-text-links .sub-menu-2 li a:hover{font-size: 9pt;}

.nav-text-links .sub-menu li{position: relative; display: block; margin-left: 10%; padding-bottom: 6%; left: 133px; background-color: #fff; width: 110px;}

.nav-text-links .sub-menu li a:hover{color: #24a56f;}

.nav-text-links .sub-menu-1 li{position: relative; display: block; margin-left: 10%; padding-bottom: 6%; left: 328px; background-color: #fff; width: 110px;}

.nav-text-links .sub-menu-1 li a:hover{color: #24a56f;}

.nav-text-links .sub-menu-2 li{position: relative; display: block; margin-left: 10%; padding-bottom: 6%; left: 511px; background-color: #fff; width: 110px;}

.nav-text-links .sub-menu-2 li a:hover{color: #24a56f;}

.noscroll .nav-text-links ul li{display: none;}

.noscroll #___gcse_0{display: none;}

.noscroll .jotform-form{display: none;}

.noscroll .contact-forms{display: none;}

body .gsc-control-wrapper-cse{width: 20%; position: relative; float: right;}

.gsc-input{background-image: none !important;}

body .gsc-search-button-v2{background-color: #24a56f; border-color: #24a56f;}

body .gsc-search-button-v2:hover{background-color: #24a56f; border-color: #24a56f;}

body .gsc-search-button-v2:active{background-color: #24a56f; border-color: #24a56f;}

body #___gcse_0{position: relative; float: right; margin-top: -108px; width: 122%;}

body .gsc-control-cse{background-color: transparent; border: 0;}

body .gsst_a .gscb_a{color: #24a56f;}

.new-arrivals-column-header{color: #fff; font-size: 14px; font-weight: bold; margin-left: -14px; margin-top: 29px !important; margin-bottom: 38px;}

.hamburgernav-text-links{position: relative; top: 39px; margin-left: 38%;}

body .rc-anchor-light.rc-anchor-normal{border: 0;}

body .rc-anchor-light{background: #fff;}

body .form-submit-button-light_rounded.form-pagebreak-back, .form-submit-button-light_rounded.form-pagebreak-next, .form-submit-button-light_rounded.submit-button{background: #ffc200; border: 0; text-shadow: none; color: #fff; border-radius: 0; width: 88%; box-shadow: none;}

body .form-submit-button-light_rounded.form-pagebreak-back, .form-submit-button-light_rounded.form-pagebreak-next, .form-submit-button-light_rounded.submit-button:hover{background: #ffc200; border: 0; text-shadow: none; color: #fff; border-radius: 0; width: 88%; box-shadow: none;}

body .jf-form-buttons, .qq-upload-button{background: #ffc200; border: 0; text-shadow: none; color: #fff; border-radius: 0; width: 88%; box-shadow: none;}

body .jf-form-buttons, .qq-upload-button:hover{background: #ffc200 !important; border: 0; text-shadow: none; color: #fff; border-radius: 0; width: 88%; box-shadow: none;}

body .form-buttons-auto{margin-left: 0;}

body .supernova .form-all, .form-all{background-color: transparent !important; box-shadow: none;}

body .formFooter{display: none;}

body .form-label-top, .form-label-left, .form-label-right, .form-html, .form-checkbox-item label, .form-radio-item label{color: #000;}

body .form-line, [data-wrapper-react=true]{margin-top: 50px;}

.form-sub-label{color: #000;}

#sign-up{position: relative; float: left; opacity: 1; max-width: 27%; margin-left: 11%;}

.sign-up{position: relative; background-color: #0b183a; padding: 2px; top: 25px;}

.sign-up h1{color: #fff; font-size: 22pt; margin-left: 5%; background-image:url("white-pencil.png"); background-position: 259px -2px; background-repeat: no-repeat; width: 389px; height: 101px;}

.sign-up p{color: #fff; font-size: 7pt; margin-left: 5%;}

.sign-up a{color: #fdc113; font-size: 7pt; text-decoration: none;}

.sign-up a:hover{color: #fdc113; font-size: 7pt; text-decoration: underline;}

.sign-up .form-line .form-label.form-label-top.form-label-auto{color: #fff;}

.sign-up .form-sub-label{color: #fff;}

.sign-up .form-label-top, .form-label-left, .form-label-right, .form-html, .form-checkbox-item label, .form-radio-item label{color: #fff !important;}

#captcha{position: relative; float: right; opacity: 1; max-width: 31%; margin-right: 18%;}

.mobile-accordion-links{display: none;}

body .sign-up ul.page-section{padding: 0;}

body .page-section>li:first-child:not(.form-line-column):not([data-type=control_head]):not([data-type=control_text]):not([data-type=control_button]):not([data-type=control_collapse]), .page-section>li:nth-child(2):not(.form-line-column):not([data-type=control_head]):not([data-type=control_text]):not([data-type=control_button]):not([data-type=control_collapse]){margin-top: 0;}

body .formFooter-heightMask{height: 0;}

body .form-buttons-wrapper, .form-pagebreak, .form-submit-clear-wrapper{border-color: transparent;}

body .form-line{padding-bottom: 0; padding-top: 0;}

body ul.page-section{padding: 0;}

body #captcha .form-buttons-wrapper, .form-submit-clear-wrapper{padding: 0;}

body .form-all{box-shadow: none;}

.captcha-form h1{font-size: 22pt; text-transform: uppercase; color: #211c20;}

.captcha-form p{font-size: 7pt; color: #211c20;}

.pencil{position: relative; margin-top: -66px;}

body #id_7{margin-top: 0;}

body #captcha .form-sub-label{color: #000;}

body #captcha #id_3{margin-top: 0;}

body #id_4{margin-top: 0;}

@media screen and (min-width: 768px){
body .jotform-form{padding: 0px}

}

@media(max-width: 1960px){
  body #___gcse_0{position: relative; float: right; margin-top: -108px; width: 122%;}

}



@media(max-width: 1440px){

    .hamburglernav #nav a{font-size: 117%; width: 410px;}
    .hamburglernav #nav a:hover{font-size: 117%; width: 410px;}
    .hamburglernav{left: 0;}
    .noscroll .hamburger{left: 1278px; top: -618px;}
.nav-text-links{width: 804px;}
  .nav-text-links ul li a{font-size: 13.5pt;}
  .nav-text-links ul li a:hover{font-size: 13.5pt;}
  body #___gcse_0{margin-top: -104px; width: 147%;}
.nav-text-links .sub-menu li{left: 115px;}
.nav-text-links .sub-menu-1 li{left: 259px;}
.nav-text-links .sub-menu-2 li{left: 411px;}
}

@media(max-width: 1280px){
      body #___gcse_0{width: 100%; margin-top: -104px;}
      .noscroll .hamburger{left: 1192px;}
       .sign-up h1{background-position: 220px -2px;}
       #sign-up{margin-left: 0;}
}

@media(max-width: 1200px){
  .nav-text-links{width: 651px;}
  .nav-text-links ul li a{font-size: 9pt;}
  .nav-text-links ul li a:hover{font-size: 9pt;}
.nav-text-links .sub-menu li{left: 96px;}
.nav-text-links .sub-menu-1 li{left: 206px;}
.nav-text-links .sub-menu-2 li{left: 322px;}
.nav-text-links .sub-menu li a{font-size: 7pt;}

.nav-text-links .sub-menu li a:hover{font-size: 7pt;}

.nav-text-links .sub-menu-1 li a{font-size: 7pt;}

.nav-text-links .sub-menu-1 li a:hover{font-size: 7pt;}

.nav-text-links .sub-menu-2 li a{font-size: 7pt;}

.nav-text-links .sub-menu-2 li a:hover{font-size: 7pt;}
 body #___gcse_0{margin-top: -104px;}
.noscroll .hamburger{left: 990px;}
.hamburglernav #nav > ul > li > a{padding: 10px 0px 10px 2px;}
.sign-up h1{background-image: none;}
}


@media(max-width: 1024px){

    #nav{left: 35px;}
    .hamburglernav{left: 0;}
    .hamburglernav #nav a{font-size: 67%; width: 115px; top: -89px;}
    .hamburglernav #nav a:hover{font-size: 67%; width: 115px; top: -89px;}
    .hamburglernav #nav ul li ul a{font-size: 9px;}
    .hamburglernav #nav ul li ul a:hover{font-size: 9px;}
    .nav-text-links{display: none;}
     .hamburgernav-text-links{display: none;}
     body #___gcse_0{width: 321%;}
     .hamburglernav #nav ul li:first-child{margin-top: 64px;}
     #nav img{width: 200px; height: 76px;}
     .noscroll .hamburger{left: 938px; position: absolute; top: -1250px;}
     .hamburglernav{height: 1260px;}
    .mobile-accordion-links{display: inline-block; position: relative; top: 86px;}
    .mobile-accordion-links-content {padding: 0 18px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; background-color: transparent;}
    .mobile-accordion-links-content p{color: #fff; font-size: 12px;}
    .mobile-accordion-links-content a{color: #fff; text-decoration: none; font-size: 12px;}
    .mobile-accordion-links-content a:hover{color: #fff; text-decoration: none; font-size: 12px;}
    .mobile-accordion-links-content a:visited{color: #fff; text-decoration: none; font-size: 12px;}
.collapsible {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: transparent;
}

.collapsible:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
#captcha{position: relative; float: none; max-width: 100%; margin-top: 6%; background-color: #fff;}
#sign-up{position: relative; float: none; max-width: 100%;}
.contact-forms{top: 50px;}
.sign-up h1{background-position: 0; margin-left: 4%; width: 200px; position: relative; top: -61px;}
.captcha-form h1{position: relative; margin-left: 4%;}
.captcha-form p{position: relative; margin-left: 4%;}
}

.contact-forms::before{background-image: none;}
@media(max-width: 830px){
    #nav{left: 10px;}
    .hamburger{width: 768px; height: 45px;}
    .hamburglernav #nav a{font-size: 60%; width: 115px; top: -89px;}
    .hamburglernav #nav a:hover{font-size: 60%; width: 115px; top: -89px;}
     body #___gcse_0{width: 255%;}
     .noscroll .hamburger{left: 725px;}
        .mobile-accordion-links{top: 86px; left: -96px;}
}

@media(max-width: 768px){
         .noscroll .hamburger{left: 650px;}
}
@media(max-width: 736px){
         body #___gcse_0{width: 178%;}
        .noscroll .hamburger{left: 650px;}
        .mobile-accordion-links{top: 86px; left: -96px;}
}

@media(max-width: 667px){
        .noscroll .hamburger{left: 581px;}
          .mobile-accordion-links{top: 86px;}
}


@media(max-width: 640px){
        .noscroll .hamburger{left: 554px;}
    .mobile-accordion-links{top: 86px; left: -96px;}
}

@media(max-width: 568px){
        .noscroll .hamburger{left: 480px;}
        .mobile-accordion-links{top: 86px;}
}

@media(max-width: 414px){
    .logo{left: 75px; top: -43px;}
    .logo img{width: 145px; height: 55px;}
     .noscroll .hamburger{left: 327px;}
        .mobile-accordion-links{top: 86px; left: -96px;}
}

@media(max-width: 375px){
        .noscroll .hamburger{left: 290px;}
        .mobile-accordion-links{top: 86px; left: -96px;}
}

@media(max-width: 360px){
        .noscroll .hamburger{left: 276px;}
    .mobile-accordion-links{top: 86px; left: -96px;}
}

@media(max-width: 320px){

    .logo{top: -35px;}
    .logo img{width: 106px; height: 40px;}
     .noscroll .hamburger{left: 230px;}
    .mobile-accordion-links{top: 0; left: 0;}
}